.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navBar {
  color: white;
  text-align: center;
}

.header {
  text-align: center;
  color: lightgreen;
  display: grid;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.underHeader {
  color: darkslategrey;
}

.input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.navlink {
  text-decoration: none;
  color: darkslategrey;
}

.rest-homepage {
  text-decoration: none;
  color: darkslategrey;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
}

.rest-details {
  text-align: center;
  justify-content: center;
  color: darkslategrey;
}

.searchbar {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.form {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.reviews-homepage {
  justify-content: center;
  display: flex;
}

.review-homepage {
  text-decoration: none;
  color: darkslategrey;
}

.h {
  justify-content: center;
  display: grid;
}

.review-heading {
  display: grid;
  grid-template-columns: 562px 562px 562px;
  grid-template-rows: 10px 10px 10px;
  column-gap: 10px;
  row-gap: 7.5px;
  justify-items: center;
}

.add-res-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.xxx {
  display: flex;
  justify-content: center;
}

.left {
  text-align: center;
  padding-bottom: 10px;
}

.right {
  text-align: center;
}

.restuarant-heading {
  display: grid;
  grid-template-columns: 560px 560px 560px;
  grid-template-rows: 10px 10px 10px;
  column-gap: 10px;
  row-gap: 7.5px;
  justify-items: center;
}

.underline {
  text-decoration: none;
}

.welcome-page {
  padding: 23rem;
  text-align: center;
  color: white;
  background: url("../public/chris-liverani-oCsaxvGCehM-unsplash.jpg") no-repeat
    center center/cover;
}

.welcome-button {
  display: flex;
}
